
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



html, body {
    padding: 0;
    text-align: center;
  }


  header {
    font-size: 30px;
    color:blueviolet;
    margin: 100px, 
  }


body{
    font-family: "Press Start 2P"; 
    font-size: 15px;
    background-image: url("https://i.pinimg.com/originals/fa/9a/51/fa9a512412b269ee7eaae6d9a1088381.gif");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 8px;
    padding-top: 50px;
 }



 #game-page {

    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
 }

 .game-page {
    font-family:Press Start 2P;
    font-size: 20px;
    color:rgb(209, 10, 176); 
	text-align: center;
}
     



  
button {
    font-family: 'Press Start 2P';
    font-size: 20px;
    background-color: rgb(124, 195, 212); 
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration:wavy;
    padding:10px 30px 10px 30px;
    box-shadow: 200px;
    border-radius: 5px;
}


